<mat-grid-list cols="5" rowHeight="105px">
    <mat-grid-tile [colspan]="4" [rowspan]="7" class="bigger">
        <app-users></app-users>
        <app-cards></app-cards>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="7">
        <app-phase></app-phase>
        <app-progress></app-progress>
    </mat-grid-tile>
    <!-- <mat-grid-tile [colspan]="4" [rowspan]="4" class="bigger">
        
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="4">
        
    </mat-grid-tile> -->
</mat-grid-list>