<mat-toolbar>
  <span>SmallWorld</span>
</mat-toolbar>

<div style="width: 100%; text-align: right; padding-top: 7px;">

  <mat-form-field id="first">
    <mat-label>Agent name*</mat-label>
    <select matNativeControl required>
      <option value="dolor">dolor</option>
      <option value="dolor">dolor</option>
      <option value="dolor">dolor</option>
      <option value="dolor">dolor</option>
    </select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Country</mat-label>
    <select matNativeControl required>
      <option value="Lorem ipsum">Lorem ipsum</option>
      <option value="Lorem ipsum">Lorem ipsum</option>
      <option value="Lorem ipsum">Lorem ipsum</option>
      <option value="Lorem ipsum">Lorem ipsum</option>
    </select>
  </mat-form-field>

</div>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <mat-list role="list">
      <mat-list-item role="listitem"><button mat-button color="primary"><mat-icon>verified_user</mat-icon>
          Login</button></mat-list-item>
      <mat-list-item role="listitem"><button mat-button><mat-icon>account_circle</mat-icon> 
        Profile</button></mat-list-item>
      <mat-list-item role="listitem"><button mat-button><mat-icon>favorite</mat-icon>
          Favorites</button></mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>