<mat-card class="example-card" >
    <div class="contain">
        <mat-progress-spinner
        class="example-margin"
        [color]="'#6121aa'"
        [mode]="'determinate'"
        [value]="58">
    </mat-progress-spinner>
    </div>
    
    <mat-card-header align="center">
        <mat-card-title>Current Progress</mat-card-title>
        <mat-card-subtitle>iste natus error sit voluptatem</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </p>
    </mat-card-content>
</mat-card>